/* === common style === */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

html, body{
overflow-x: hidden;
width: 100%;
position: relative;
}

.container{
max-width: 1440px;
margin: 0 auto;
padding: 0 20px;
width: 100%;
box-sizing: border-box;
}

html{
scrpll-padding-top: 30px;
scroll-behavior: smooth;
}



/* === header season start === */
header{
position: fixed;
width: 100%;
padding: 20px 0;
z-index: 1000;
transition: background-color 0.3s ease;
}

nav{
max-width: 1440px;
margin: 0 auto;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
}

/* logo */
.logo{
color: #fff;
font-size: 24px;
font-weight: bold;
}

.logo img{
width: auto;
}

/* mobile menu bar icon */
.nav-toggle{
display: none;
flex-direction: column;
gap: 6px;
cursor: pointer;
padding: 4px;
z-index: 1001;
}

.nav-toggle span{
display: block;
width: 30px;
height: 3px;
background-color: #fff;
transition: all 0.3s ease;
}

/* menu items */
.nav-links{
display: flex;
gap: 30px;
list-style: none;
}

.nav-links a{
color: #fff;
text-decoration: none;
font-size: 16px;
transition: color 0.3s ease;
}
.nav-links a:hover{
color: #faff00;
}

@media (max-width: 768px){

nav{
padding: 0 20px;
}
  
.nav-toggle{
display: flex;
}

.nav-toggle.active span:nth-child(1){
transform: translateY(9px) rotate(45deg);
}

.nav-toggle.active span:nth-child(2){
opacity: 0;
}

.nav-toggle.active span:nth-child(3){
transform: translateY(-9px) rotate(-45deg);
}
  
.nav-links{
position: fixed;
top: 0px;
right: -100%;
width: 70%;
height: 100vh;
background-color: #000000;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 40px;
transition: right 0.3s ease;
}
  
.nav-links a{
font-size: 20px;
}

.nav-links.active{
right: 0;
}

}
/* === header season end === */



/* === hero season start ===*/
.hero{
height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/2.png");
background-size: cover;
background-position: center;
display: flex;
align-items: center;
}

.hero-content{
max-width: 1440px;
margin: 0 auto;
width: 100%;
padding: 0 20px;
color: #fff;
}

.hero-content h1{
font-size: 64px;
width: 600px;
line-height: 1.2;
margin-bottom: 30px;
}

.cta-button{
background-color: #faff00;
padding: 15px 40px;
color: #000;
font-size: 18px;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
}

.cta-button:hover{
background-color: #e6e600;
}

@media (max-width: 768px){
  
.hero{
padding: 20px;
background-size: cover;
background-repeat: no-repeat;
background-position: calc(60%);
height: 80vh;
}

.hero-content h1{
font-size: 40px;
width: 100%;
}

}
/* === hero season end ===*/



/*=== advantages start ===*/
.advantages{
background-color: #000000;
color: #ffffff;
padding-top: 120px;
padding-bottom: 100px;
}

.advantages h2{
font-size: 48px;
margin-bottom: 60px;
}

.advantages-grid{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px;
}

.advantages-items{
display: flex;
gap: 20px;
align-items: center;
}

.advantages-icon{
width: 40px;
height: 40px;
}

.advantages-icon img{
width: 100%;
height: 100%;
object-fit: contain;
}

.advantages-content h3{
tont-size: 24px;
margin-bottom: 10px;
color: #ffff00;
}

.advantages-content p{
font-size: 16px;
line-height: 1.5;
color: #ffffff;
width: 60%;
overflow: hidden;
text-overflow: ellipsis;
}

@media (max-width: 768px){
  
.advantages{
padding-top: 80px;
padding-bottom: 60px;
}

.cintainer{
padding: 0 20px;
}

.advantages h2{
font-size: 32px;
margin-bottom: 40px;
}

.advantages-grid{
grid-template-columns: 1fr;
gap: 20px;
}

.advantages-content h3{
font-size: 20px;
}

.advantages-content p{
width: 100%;
}

}
/*=== advantages end ===*/



/*=== membership start ===*/
.membership{
background-color: #000000;
padding-top: 120px;
padding-bottom: 100px;
color: #ffffff;
}

.membership h2{
color: #ffffff;
font-size: 48px;
text-align: center;
margin-bottom: 60px;
}

.membership-grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
}

.membership-card{
background: #222222;
border-radius: 10px;
padding: 30px;
display: flex;
flex-direction: column;
min-height: 400px;
transition: all transform 0.3s ease;
}

.membership-card:hover{
scale: 1.05;
}

.membership-card h3{
font-size: 24px;
margin-bottom: 20px;
text-align: center;
}

.membership-card .price{
font-size: 36px;
color: #fff000;
margin-bottom: 30px;
text-align: center;
}

.membership-card ul{
list-style: none;
margin-bottom: auto;
}

.membership-card li{
display: flex;
align-items: flex-start;
gap: 10px;
margin-bottom: 15px;
font-size: 16px;
line-height: 1.5;
}

.membership-card img{
width: 20px;
height: 20px;
}

.membership-card .buy-btn{
background-color: #ffff00;
color: #000000;
border: none;
padding: 15px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
margin-top: 20px;
transition: background-color 0.3s ease-in-out;
}

.membership-card .buy-btn:hover{
background-color: #e6e600;
}

@media (max-width: 1024px){
  
.membership-grid{
grid-template-columns: repeat(2, 1fr)
}
  
}

@media (max-width: 768px){
  
.membership{
padding-top: 80px;
padding-bottom: 60px;
}

.membership h2{
font-size: 36px;
margin-bottom: 30px;
}
  
.membership-grid{
grid-template-columns: 1fr;
gap: 20px;
}

}
/*=== membership end ===*/



/*=== about section start ===*/
.about{
background-color: #000000;
padding-top: 120px;
padding-bottom: 100px;
}

.about-content{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 60px;
align-items: center;
}

.about-text h2{
color: #ffffff;
font-size: 48px;
margin-bottom: 40px;
}

.about-text p{
color: #ffffff;
font-size: 16px;
line-height: 1.6;
margin-bottom: 20px;
}

.about-slider{
position: relative;
width: 100%;
}

.slider-container{
position: relative;
overflow: hidden;
border-radius: 10px;
margin-bottom: 20px;
}

.slider-wrapper{
display: flex;
transition: transform 0.5s ease;
}

.slider-wrapper img{
width: 100%;
height: 400px;
object-fit: cover;
flex-shrink: 0;
}

.slider-controls{
display: flex;
justify-content: space-between;
align-iteme; center;
margin-top: 20px;
}

.slider-indicator{
position: static;
transform: none;
display: flex;
gap: 10px;
}

.indicator{
width: 10px;
height: 10px;
border-radius: 50%;
background: rgba(225, 225, 225, 0.5);
cursor: pointer;
transition: background-color 0.3s;
}

.indicator.active{
background: #ffff00;
}

.slider-arrows{
display: flex;
gap: 10px;
}

.slider-arrows-btn{
position: static;
transform: none;
background: rgba(0, 0, 0, 0.5);
border: none;
width: 40px;
height: 40px;
border-radius: 50%;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}

.slider-arrows-btn img{
width: 20px;
height: 20px;
}

@media (max-width: 1024px){

.about-content{
grid-template-columns: 1fr;
gap: 40px;
}

.about-text{
text-align: center;
}
  
}

@media (max-width: 768px){
  
.about{
padding-top: 80px;
padding-bottom: 60px;
}

.about-text h2{
font-size: 36px;
margin-bottom: 30px;
}

.slider-wrapper img{
height: 300px;
}
  
}
/*=== about section end ===*/